@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
::-webkit-scrollbar {
    width: 12px; 
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

body{
    background-color: #201b2c;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

ul{
    list-style-type: none;
}
li{
    font-weight: 800;
    color: #00ff88;  
}
h1{
    text-align: center;
    color: #00ff88;
}
p{
    font-weight: bold;
    color: white;
}

body > p{
    margin: 25px;
}

section{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section > a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

section > a:hover{
  color:#a8a8a8;
  transition: 0.6s;
  transform: scale(1.1);
  text-decoration: underline;
}

img{
  width: 430px;
  height: 300px;
}

@media screen and (max-width: 480px) {
  img{
    width: 90%;
    height: 100%;
  }
  
  h1{
    font-size: 21px;
  }


}